<% include ./partials/header %>

<div class="ui text container segment">
  <div class="ui huge header">Edit <%= blogData.title %></div>
  <form class="ui form" action="/blog/<%= blogData._id %>?_method=PUT" method="POST">
    <div class="field">
      <label>Title</label>
      <input type="text" name="blog[title]" value="<%= blogData.title %>" placeholder="Title">
    </div>
    <div class="field">
      <label>Image</label>
      <input type="text" name="blog[image]" value="<%= blogData.image %>" placeholder="Image url">
    </div>
    <div class="field">
      <label>Blog Post</label>
      <textarea name="blog[body]" placeholder="Type something here"><%= blogData.body %></textarea>
    </div>
    <button class="ui green button">Update</button>
  </form>
</div>

<% include ./partials/footer %>