<% include ./partials/header %>

<h1>Blog</h1>

<% blogData.forEach(function (blog) { %>
  <h2><%= blog.title %></h2>
  <img src="<%= blog.image %>">
  <p><%= blog.body %></p>
  <p><%= blog.created %></p>
  <a href="/blog/<%= blog._id %>">View More</a>
<% }); %>

<% include ./partials/footer %>